@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-8">
        <h1 class="display-4">Hello</h1>
        <h3 class="display-4">I'am Nik</h3>
        <h3 class="display-4">.Net FullStack Dev</h3>
    </div>
    <div class="Image col-4" >
        <img src="Images/Me.jpg" alt="Me"/>
    </div>
</div>


<div class="cont" style="margin-top: 40px">
    <div class="contGrid">
        <div class="textMy"> About mes</div>
        <div class="content">About me</div>
    </div>
    <div class="contGrid">
        <div class="textMy">Skills me</div>
        <div class="content">Skills</div>
    </div>
    <div class="contGrid">
        <div class="textMy">GitHub</div>
        <div class="content">GitHub</div>
    </div>
</div>